SECTION.header
    DIV.container
        DIV.header-wrap
            DIV.header-block-text
                H1.text.text-title
                    | Gravity
                    |
                    | Hub
                SPAN.text.text-accent Interoperability + Oracle chain
                P.text Waves’ new blockchain-agnostic solution is a major step towards interoperability between different blockchains, while also helping resolve the issue of obtaining real-world data.
            DIV.header-block-gravity
