@import "../../mixins/media";

section.block {
  padding-top: 100px;

  .container-content {
    display: grid;
    width: 100%;
    justify-content: space-between;

    .block {
      &-text {
        position: relative;
        padding-top: 80px;

        @include b(1024) {
          padding-top: 0;
        }

        * {
          margin-bottom: 20px;
          line-height: 1.3;
        }

        .text {
          font-weight: 200;
          font-size: 17px;
          line-height: 26px;

          @include b(mobile) {
            font-size: 14px;
            line-height: 24px;
          }

          @include bb(tablet, 0) {
            font-size: 15px;
            line-height: 24px;
          }

          &-title {
            line-height: 1;
            font-size: 48px;
            margin-bottom: 40px;
            font-weight: bold;

            @include b(mobile) {
              font-size: 40px;
              margin-bottom: 30px;
            }
          }
        }
      }

      &-image {
        z-index: 1;

        &-wrap {
          position: relative;
        }

        &-text {
          width: 100%;

          &-wrap {
            @include b(mobile) {
              margin-top: 50px;
            }
          }

          .text {
            font-weight: 200;
            font-size: 16px;
            line-height: 26px;
            margin-bottom: 20px;
            z-index: 3;

            @include b(mobile) {
              font-size: 14px;
              line-height: 24px;
            }

            @include bb(tablet, 0) {
              font-size: 15px;
              line-height: 24px;
            }
          }
        }
      }
    }
  }
}

.block {
  &-nodes {
    position: relative;

    @include before-img(block, 250px, 250px, a) {
      background-image: url(../img/rm_01.png);
      background-size: 100%;
      background-repeat: no-repeat;
      top: -120px;
      left: 150px;
      z-index: 1;

      @include b(1024) {
        top: -120px;
        left: -130px;
      }
    }

    .container-content {
      max-width: 1370px;
      grid-gap: 0;
      grid-template-columns: minmax(300px, 600px) minmax(300px, 750px);

      @include b(mobile) {
        display: flex !important;
        flex-direction: column;
        padding: 0 20px;
      }

      .block {
        &-text {
          background: url(../img/bg-title-node.png) no-repeat center -10px/90%;
          padding-right: 70px;
          display: flex;
          justify-content: flex-end;

          @include bb(tablet, 0) {
            background: url(../img/bg-title-node.png) no-repeat left top/90%;
            padding-right: 20px;
          }

          @include b(mobile) {
            background: url(../img/bg-title-node.png) no-repeat left top/contain;
            padding-right: 0px;
          }

          &-wrap {
            width: 100%;
            max-width: 370px;

            @include b(mobile) {
              max-width: 100%;
            }
          }

          .text {
            opacity: 0.75;

            &-title {
              opacity: 0.8;
            }
          }
        }
      }
    }
  }

  &-watching {
    background-image: url(../img/rm_02.png) no-repeat right 60px/200px;

    @include b(1024) {
      background: none;
    }

    .container-content {
      grid-template-columns: minmax(300px, 850px) minmax(300px, 390px);
      max-width: 1310px;

      @include b(mobile) {
        display: flex !important;
        flex-direction: column-reverse;
        padding: 0 20px;
      }

      .block {
        &-image {
          z-index: 1;

          &-text {
            margin-top: -80px;
            display: flex;
            justify-content: center;
            width: 100%;

            &-wrap {
              width: 100%;
              max-width: 580px;
            }
          }
        }

        &-text {
          background: url(../img/bg-title-watching.png) no-repeat -20px -20px/100% 50%;
          padding-right: 10px;
        }
      }
    }
  }

  &-reaching {
    background-image: url(../img/rm_03.png) no-repeat left center/contain;

    @include b(1024) {
      background: none;
    }

    .container-content {
      max-width: 1450px;
      // display: flex !important;
      justify-content: flex-end !important;

      @include b(mobile) {
        padding: 0 20px;
      }

      &-wrap {
        grid-template-columns: minmax(300px, 390px) minmax(300px, 850px);
        max-width: 1240px;
        width: 100%;
        display: grid;
        z-index: 2;

        @include b(mobile) {
          display: flex !important;
          flex-direction: column;
        }
      }

      .block {
        z-index: 1;

        &-image {

          &-text {
            margin-top: -100px;
            display: flex;
            justify-content: center;

            &-wrap {
              width: 100%;
              max-width: 580px;
            }
          }
        }

        &-text {
          background: url(../img/bg-title-reaching.png) no-repeat center -40px/100%;
        }
      }
    }
  }
}

section.section-gravity-hub {
  display: flex;
  justify-content: center;
  margin-top: -150px;
  z-index: 1;
  background-image: url(../img/bg-graviry-hub.png) no-repeat right center/contain;

  @include b(1024) {
    background: none;
  }

  @include b(mobile) {
    margin-top: 0;
  }

  .container-content {
    max-width: 1200px;
    width: 100%;
    height: 1200px;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 1;
    background: url(../img/gravity-hub.png) no-repeat center / 100%;

    @include b(mobile) {
      padding: 20px;
      height: auto;
      background: none;
    }

    @include b(mobile) {
      margin-bottom: 15px;
      font-size: 14px;
      line-height: 20px;
    }

    .block-gravity-hub {
      width: 100%;
      max-width: 525px;
      z-index: 1;

      @include bb(tablet, 0) {
        max-width: 325px;
      }

      @include b(mobile) {
        max-width: 100%;
      }

      .text {
        margin-bottom: 20px;
        font-size: 17px;
        line-height: 28px;

        @include b(tablet) {
          margin-bottom: 15px;
          font-size: 14px;
          line-height: 20px;
        }

        &-title {
          text-align: center;
          width: 100%;
          font-size: 48px;
          line-height: 50px;
          margin-bottom: 40px;

          @include bb(tablet, 0) {
            font-size: 30px;
            line-height: 20px;
            margin-bottom: 30px;
          }

          @include b(mobile) {
            font-size: 25px;
            line-height: 20px;
            margin-bottom: 30px;
          }
        }
      }

      .button {
        text-align: center;
        width: 100%;
        max-width: 280px;
        height: 50px;
        margin: 0 auto;
        color: white;
        margin-top: 30px;
        z-index: 1;
        position: absolute;
        left: 0;
        right: 0;

        @include b(tablet) {
          max-width: 160px;
          margin-top: 10px;
          font-size: 14px;
        }

        @include b(mobile) {
          max-width: 240px;
          margin-top: 10px;
        }
      }

      .img-block {
        width: 100%;
        z-index: 0;
        display: block;
        margin-top: 0px;
        text-align: center;

        @include b(500) {
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 20px;
        }

        img {
          &:nth-child(1) {
            @include b(500) {
              display: none;
              max-width: 450px;
            }
          }

          &:nth-child(2) {
            display: none;

            @include b(500) {
              display: block;
              max-width: 320px;
            }
          }
        }
      }
    }
  }
}
