@import "../../mixins/media";
@import "../../mixins/image";

section.header {
  background-image: url(../img/header.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 860px;
  position: relative;
  overflow: hidden;

  @include bb(tablet, 0) {
    padding-top: 40px;
    height: 650px;
  }

  @include bb(endmobile, 0) {
    padding-top: 100px;
    padding-bottom: 100px;
    height: 650px;
  }

  .container {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    display: flex;
    z-index: 1;

    @include after-img(block, 100%, 100%, a) {
      background-image: url(../img/cosmos.svg);
      background-size: 130%;
      background-repeat: no-repeat;
      bottom: -490px;
      right: -490px;
      z-index: -1;


      @include bb(endmobile, 0) {
        display: none;
      }
    }

    .header {
      &-wrap {
        display: grid;
        grid-template-columns: minmax(300px, 600px) minmax(300px, 580px);
        justify-content: space-between;
        align-items: center;
        width: 100%;
        grid-gap: 20px;

        @include bb(tablet, 0) {
          grid-template-columns: minmax(300px, 1fr) minmax(300px, 350px);
        }

        @include bb(mobile, 0) {
          grid-template-columns: repeat(2, 1fr);
        }

        @include bb(endmobile, 0) {
          display: flex;
          flex-direction: column;
          padding-bottom: 60px;
        }
      }

      &-block {
        &-text {
          position: relative;
          z-index: 1;

          @include before-img(block, 65%, 90%, a) {
            background-image: url(../img/triangle.svg);
            background-position: left;
            background-size: cover;
            background-repeat: no-repeat;
            top: -100px;
            z-index: -1;
            left: 0px;

            @include bb(tablet, 0) {
              width: 280px;
              height: 280px;
              top: -80px;
            }

            @include bb(mobile, 0) {
              font-size: 1.8vw;
              line-height: 22px;
            }

            @include bb(endmobile, 0) {
              display: none;
            }

          }

          * {
            margin: 12px 0;
          }

          h1 {
            font-size: 100px;
            line-height: 110px;
            text-transform: uppercase;

            @include bb(tablet, 0) {
              font-size: 80px;
              line-height: 80px;
            }

            @include bb(mobile, 0) {
              font-size: 8vw;
              line-height: 60px;
            }

            @include bb(endmobile, 0) {
              font-size: 45px;
              line-height: 40px;
            }

          }

          span {
            font-size: 36px;
            line-height: 40px;

            @include bb(tablet, 0) {
              font-size: 28px;
              line-height: 30px;
            }

            @include bb(mobile, 0) {
              font-size: 2.7vw;
              line-height: 40px;
            }

            @include bb(endmobile, 0) {
              font-size: 16px;
            }

          }

          p {
            font-weight: 200;
            font-size: 17px;
            line-height: 27px;

            @include bb(tablet, 0) {
              font-size: 15px;
              line-height: 25px;
            }

            @include bb(mobile, 0) {
              font-size: 1.8vw;
              line-height: 22px;
            }

            @include bb(endmobile, 0) {
              font-size: 14px;
              line-height: 20px;
            }

          }
        }

        &-gravity {
          background-image: url(../img/gravity-header.svg);
          background-position: left;
          background-size: contain;
          background-repeat: no-repeat;
          height: 500px;
          position: relative;

          @include bb(tablet, 0) {
            height: 300px;
          }

          @include bb(endmobile, 0) {
            height: 250px !important;
            width: 280px;
          }


          @include after-img(block, 15px, 135px, a) {
            background-image: url(../img/gravity-header-text.svg);
            background-size: cover;
            background-repeat: no-repeat;
            top: 35%;
            z-index: 1;
            right: 0;

            @include b(1024) {
              top: 30%;
            }

          }
        }
      }
    }
  }
}
