@import "../mixins/media";

footer {
  z-index: 1;

  .container {
    max-width: 1300px;
    display: grid;
    grid-template-columns: minmax(300px, 370px) minmax(300px, 750px);
    grid-gap: 30px;
    justify-content: space-between;
    background-image: url(../img/bg-footer.png) no-repeat left -60px / contain;
    padding: 50px 10px;

    @include bb(tablet, 0) {
      grid-template-columns: repeat(2, 1fr);
      padding: 50px 100px;
    }


    @include b(mobile) {
      display: flex !important;
      flex-direction: column;
      background-image: none;
      padding: 50px 20px;
    }

    .footer {
      &-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &-bottom {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .link {
            font-weight: 200;
            font-size: 23px;
            line-height: 22px;
            opacity: 0.8;
            color: white;
            margin-bottom: 15px;

            &:hover {
              opacity: 1;
            }
          }

          .copyrights {
            font-weight: 200;
            font-size: 14px;
            line-height: 22px;
            color: white;
            opacity: 0.5;
          }
        }
      }

      &-menu {
        display: flex;
        justify-content: space-between;

        @include bb(tablet, 0) {
          justify-content: center;
        }

        &-block {

          &:nth-child(1),
          &:nth-child(2),
          &:nth-child(4) {
            @include b(tablet) {
              display: none;
            }
          }

          &:nth-child(3) {

            @include b(tablet) {
              .footer-menu-block-title {
                display: none;
              }
            }

            @include b(mobile) {
              display: none;
            }
          }

          * {
            line-height: 22px;
            margin-bottom: 15px;
            display: block;
            width: max-content;
            color: white;
          }

          &-title {
            font-weight: bold;
            font-size: 14px;
          }

          &-link {
            font-weight: 200;
            font-size: 16px;
            opacity: 0.8;

            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
