extends common/layout

block content
    include includes/index/header
    section.overlay
        SPAN.overlay-bg
        include includes/index/nodes
        include includes/index/watching
        include includes/index/reseaching
        include includes/index/gravity-hub
        include common/footer
